<style type="text/css">
body {
  background: black;
 font-family: "algerian";
}
 h1 {
 font-family: "algerian", times new roman;
 font-size: 100px;
 color: red;
 border: 5px inset #0091EA;
 animation: blinkingText 0.9s infinite;
 }
  .blinking {
 animation: blinkingText 1.2s infinite;
 }
 
 @keyframes blinkingText {
 0% {
 color: ;
 }
 15% {
 color: ;
 }
 30% {
 color: transparent;
 }
 55% {
 color: transparent;
 }
 100% {
 color: ;
 }
 </style>